<div class="container">
  <mat-toolbar style="background-color: #f3c8d6; color:rgb(85, 12, 58)" >
    <span><b>Usuario</b></span>
    <div class="example-spacer"></div>
    <button style="background-color:rgb(85, 12, 58); color:white" mat-raised-button routerLink="/dashboard/crear-usuario">AGREGAR</button>
  </mat-toolbar>

  <div *ngIf="listUsuarios.length > 0">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex." #input autocomplete="off">
  </mat-form-field>
  <div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Nombre</b></th>
        <td mat-cell  *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="apellido">
       <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Apellido</b></th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
     </ng-container>

     <ng-container matColumnDef="socio">
       <th mat-header-cell *matHeaderCellDef mat-sort-header><b> Nº Socio</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.socio}} </td>
     </ng-container>

      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>DNI</b></th>
        <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
       <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Teléfono</b></th>
       <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

      <ng-container matColumnDef="sexo">
       <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Sexo</b></th>
        <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
     </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">

      <a class="pointer" style="color: #1e3d8b" matTooltip="Ver Usuario">
            <mat-icon>search</mat-icon>
      </a>
      <a class="pointer"  style="color: #4f7f9d" matTooltip="Editar Usuario">
          <mat-icon >edit</mat-icon>
      </a>
      <a class="pointer" (click)="eliminarUsuario(i)" style="color: #bb3664" matTooltip="Eliminar usuario">
        <mat-icon>delete</mat-icon>
      </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
  </div>
    <h2 *ngIf="listUsuarios.length == 0 ">No hay usuarios para mostrar</h2>
</div>
